<h2>Shared State</h2>

{{shared-state/editor-with-preview}}

<div class="layout-column flex layout-padding">
  <div class="flex">
    <h3>Context</h3>
    {{code-snippet name="shared-state_context.js"}}
    {{code-snippet name="shared-state_context.hbs"}}
  </div>
  <div class="flex">
    <div class="layout-row flex layout-padding">
      <div class="flex">
        <h3>Editor</h3>
        {{code-snippet name="shared-state_nested-editor.js"}}
        {{code-snippet name="shared-state_nested-editor.hbs"}}
      </div>
      <div class="flex">
        <h3>Preview</h3>
        {{code-snippet name="shared-state_nested-preview.js"}}    
        {{code-snippet name="shared-state_nested-preview.hbs"}}
      </div>
    </div>
  </div>
</div>