<h1>Managing Shared State</h1>

<img src="images/shared-state.svg">

<div class="layout-row flex layout-padding">
  <div class="flex">
    <p>
      Shared state refers to a scenario where you have several components that consume the same value.
      A natural question is where should this shared state reside? The answer is on the context that's closests to
      all components that need this state.
    </p>
  </div>
</div>

<h2>Demo</h2>

<div class="layout-row flex layout-padding">
  <div class="flex">
    <p>
      In this demo, we have an <i>editor with preview</i> component. The editor and preview are separate components.
      They consume they use the text value that's defined on the parent component.
    </p>
  </div>
</div>

{{shared-state/editor-with-preview}}

<h2>Code</h2>

<div class="layout-column flex layout-padding">
  <div class="flex">
    <h3>Context</h3>
    {{code-snippet name="shared-state_context.js"}}
    {{code-snippet name="shared-state_context.hbs"}}
  </div>
  <div class="flex">
    <div class="layout-row flex layout-padding">
      <div class="flex">
        <h3>Editor</h3>
        {{code-snippet name="shared-state_nested-editor.js"}}
        {{code-snippet name="shared-state_nested-editor.hbs"}}
      </div>
      <div class="flex">
        <h3>Preview</h3>
        {{code-snippet name="shared-state_nested-preview.js"}}    
        {{code-snippet name="shared-state_nested-preview.hbs"}}
      </div>
    </div>
  </div>
</div>

<h2>Links</h2>

{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#let (array 
        (hash title="Lowest Common Ancestor" author="Sam Selikoff" link="http://www.samselikoff.com/blog/lowest-common-ancestor/")
      ) as |items|
    }}
      {{#each items as |item|}}
        {{#paper-item class="md-3-line"}}
          <div class="md-list-item-text">
              <h3><a href={{item.link}}>{{item.title}}</a></h3>
              <h4>{{item.author}}</h4>
          </div>
        {{/paper-item}}
      {{/each}}
    {{/let}}
  {{/paper-list}}
{{/paper-content}}